body{
    display: table;
    margin: auto;
    margin-top: 50px;
    
    
}
.calcBody{
    width: 600px;
    height: 650px;
    background-color: black;
    text-align: center;
    
}

.buttonArea{
    width: 500px;
    height:400px;
    background-color: rgb(72, 72, 76);
    display: inline-block;
    margin-top: 50px;
   
}
button{
    height: 80px;
    width: 80px;
    margin: 10px;
}

.previous{
   
    text-align: end;
    padding-right: 30px;
    font-size: 20px;
}
.current{
   
    
    text-align: end;
    padding: 10px;
    font-size: 30px;
   
    
}

.screen{
    width: 500px;
    height: 125px;
    display: inline-block;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
    
    background-color: grey;
   
}